.cards {
  margin-top: 32px;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr));
  gap: 40px 24px;
}

.cards > ul > li {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 16px 0 0;
}

.cards .cards-card-body p {
  margin: 0 0 8px;
  font-size: var(--body-font-size-s);
}

.cards .cards-card-body p:first-child strong {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-l);
  font-weight: 300;
  line-height: 1.2;
}

.cards .cards-card-body p:last-child:has(a:only-child) {
  margin-top: auto;
  padding-top: 8px;
}

.cards .cards-card-body a:any-link {
  font-weight: 700;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: var(--image-radius);
}
